<h1><%=@user.username %>'s User Page</h1>

<h2><%=@user.username %> is tracking the following ghosts:</h2>

<table id="ghost-table">
  <tr> 
    <th>Name</th>
    <th>Location</th>
    <th>Difficulty</th>
    <th>Features</th>
  </tr>
  <% @user.ghosts.each do |ghost| %>
    <%= render "ghosts/ghost_attributes", ghost: ghost %>
  <% end %>
</table>


<h2>Would you like to add a ghost to the database?</h2>
<%= link_to "Add Ghost", new_ghost_path, class: 'button' %>

