
<header>
  <%= link_to image_tag("arcade_glowing.gif", id: "arcade"), root_url%>
  <%= link_to image_tag("GHOSTTRACKER_glow.png", id: "ghosttracker"), root_url%>
</header>



<!-- <!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="logo" <img src="/../../assets/images/GHOSTTRACKER_glow.png" width="400" height="100" border="0"></div>
    <div id="arcade" <a href="http://picasion.com/"><img src="http://i.picasion.com/pic80/8372e70aa5ef93bf23e2fd20661c55f5.gif" width="300" height="367" border="0" top="300" left="170" alt="http://picasion.com/" /></a></div>
  </body>
</html>
 -->